<!-- {{#each user}}
  <ul>
    <li>{{username}}</li>

    /* show route */
    <a href="/users/{{_id}}">show</a>
  </ul>
{{/each}} -->


<h2>Book History for {{user.name}}</h2>
<div>
{{#each user.book}}
  <div class="book-show-each">
    <p>{{body}}</p>
    <form method="post" action="/users/{{../user._id}}/reminders/{{_id}}?_method=delete">
        <input type="submit" value="Delete!">
    </form>
  </div>
{{/each}}
</div>

<div id="book-new">
  <h3>New Book</h3>
    <form action="/users/{{user._id}}/book" method="post">
        <label>Title</label>
        <input type="text" name="newBook">
        <input type="submit">
    </form>
</div>


<div id="user-edit">
    <a href="/users/{{user._id}}/edit">Edit User</a>
    <a href="/users">Back</a>
</div>
